<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaLogica.Properties.Settings.CMJsystemConnectionString"
            connectionString="Data Source=CMJsystem.mssql.somee.com;Initial Catalog=CMJsystem;Persist Security Info=True;User ID=Fer;Password=1234Fer*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>